.top{
    position: relative;
    min-height: 540px;
   
}

.top__types{
  
    margin-top: 46px;
    h3{
        color: $basic-bg;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px; 
        text-transform: uppercase;
    }
    ul{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 130px);
        gap: 20px;

        @include media($m500){
            grid-template-columns: repeat(3, auto);
            margin-bottom: 0;
        }
        li{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 7px;

            color: #18162D;
            font-family: $mulish;
            font-weight: 600;
            line-height: 16px;

            p{
                @include media($m350){
                    font-size: 13px;
                }
            }
    
            .top__image-wrap{
                border-radius: 10px;
                background: #F0F0FA;
                padding: 10px 15px;
                max-width: 100%;
                height: 90px;
                
                div{
                    height: 100%;
                    
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                @include media($m500){
                }
                img{
                    max-width: 100%;
                }
            }
    
        }
    }
}



.top__inner{
    margin-top: 60px;
    display: block;

    @include media($m1000){
        display: flex;
        flex-direction: column;
    }

    @include media($m800){
        margin-top: 20px;
    }

    .top__textbox{
        position: relative;
        z-index: 5;
        flex-basis:807px;

        @include media($m1000){
            flex-basis: 0;
        }
        .top__title{
            color: #18162D;
            font-family: $mulish;
            font-size: 54px;
            font-weight: 600;
            line-height: 61px; 

            @include media($m800){
                font-size: 40px;
                line-height: 50px;
            }

            @include media($m500){
                font-size: 26px;
                line-height: 40px;
            }

            span{
                color: $basic-bg;
            }
        }

        .top___text{
            margin-top: 35px;
            max-width: 406px; 
            color: #18162D;
            line-height: 24px;
        }


        .index__button{
            @include secButton(220px);

            @include media($m800){

                @include secButton(320px);

            }

            @include media($m500){
                position: fixed;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 27px;
            }
        }

        .section__button{
            margin-bottom: 15px;
            @include secButton(360px);
        }
    }
    

    .top__image{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        max-width: max-content;

        @include media($m1000){
            position: static;
            margin-right: -15px;
            align-self: flex-end;
            max-width: 100%;
        }
    }

   
}


